.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: black;
  width: 80%;
  height: 400px;
  margin: auto;
}

.video-stream {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.no-signal {
  color: white;
  font-size: 24px;
}

.controls {
  margin-top: 20px;
}

.joystick-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
